In [1]:
import logging
logger = logging.getLogger(__name__)
logger.setLevel(logging.INFO)
logging.Formatter('%(asctime)s - %(levelname)s - %(message)s')

# Create a console handler and set its level
console_handler = logging.StreamHandler()
console_handler.setLevel(logging.INFO)

# Create a formatter and set it on the console handler
formatter = logging.Formatter('%(asctime)s - %(levelname)s - %(message)s')
console_handler.setFormatter(formatter)

# Add the console handler to the logger
logger.addHandler(console_handler)

def main():
    logger.info("Cloud function starting.")
    # 1. Scrape coingecko gainers.
    import scraping.scraper
    scraping.scraper.main()

    # 2. Get contract address for gainers that have them, with coingecko.
    import scraping.contract_addresses
    scraping.contract_addresses.main()

    # 3. Run SQL query on Google Big Query to find wallets that have receieved these tokens within the last 7 days.
    
main()

2023-03-31 16:29:27,194 - INFO - Cloud function starting.
2023-03-31 16:29:28 [scrapy.utils.log] INFO: Scrapy 2.8.0 started (bot: scrapybot)
2023-03-31 16:29:28 [scrapy.utils.log] INFO: Versions: lxml 4.9.2.0, libxml2 2.9.13, cssselect 1.2.0, parsel 1.7.0, w3lib 2.1.1, Twisted 22.10.0, Python 3.11.1 (v3.11.1:a7a450f84a, Dec  6 2022, 15:24:06) [Clang 13.0.0 (clang-1300.0.29.30)], pyOpenSSL 23.1.1 (OpenSSL 3.1.0 14 Mar 2023), cryptography 40.0.1, Platform macOS-13.2.1-arm64-arm-64bit
2023-03-31 16:29:28 [scrapy.crawler] INFO: Overridden settings:
{}
2023-03-31 16:29:28 [py.warnings] WARNING: /Users/dbless/Documents/Github/emperor-traders/.venv/lib/python3.11/site-packages/scrapy/utils/request.py:232: ScrapyDeprecationWarning: '2.6' is a deprecated value for the 'REQUEST_FINGERPRINTER_IMPLEMENTATION' setting.

It is also the default value. In other words, it is normal to get this warning if you have not defined a value for the 'REQUEST_FINGERPRINTER_IMPLEMENTATION' setting. This is so for backward compatibility reasons, but it will change in a future version of Scrapy.

See the documentation of the 'REQUEST_FINGERPRINTER_IMPLEMENTATION' setting for information on how to handle this deprecation.
  return cls(crawler)

2023-03-31 16:29:28 [scrapy.utils.log] DEBUG: Using reactor: twisted.internet.selectreactor.SelectReactor
2023-03-31 16:29:28 [scrapy.extensions.telnet] INFO: Telnet Password: 5e109b41e9439b13
2023-03-31 16:29:28 [scrapy.middleware] INFO: Enabled extensions:
['scrapy.extensions.corestats.CoreStats',
 'scrapy.extensions.telnet.TelnetConsole',
 'scrapy.extensions.memusage.MemoryUsage',
 'scrapy.extensions.feedexport.FeedExporter',
 'scrapy.extensions.logstats.LogStats']
2023-03-31 16:29:28 [scrapy.middleware] INFO: Enabled downloader middlewares:
['scrapy.downloadermiddlewares.httpauth.HttpAuthMiddleware',
 'scrapy.downloadermiddlewares.downloadtimeout.DownloadTimeoutMiddleware',
 'scrapy.downloadermiddlewares.defaultheaders.DefaultHeadersMiddleware',
 'scrapy.downloadermiddlewares.useragent.UserAgentMiddleware',
 'scrapy.downloadermiddlewares.retry.RetryMiddleware',
 'scrapy.downloadermiddlewares.redirect.MetaRefreshMiddleware',
 'scrapy.downloadermiddlewares.httpcompression.HttpCompressionMiddleware',
 'scrapy.downloadermiddlewares.redirect.RedirectMiddleware',
 'scrapy.downloadermiddlewares.cookies.CookiesMiddleware',
 'scrapy.downloadermiddlewares.httpproxy.HttpProxyMiddleware',
 'scrapy.downloadermiddlewares.stats.DownloaderStats']
2023-03-31 16:29:28 [scrapy.middleware] INFO: Enabled spider middlewares:
['scrapy.spidermiddlewares.httperror.HttpErrorMiddleware',
 'scrapy.spidermiddlewares.offsite.OffsiteMiddleware',
 'scrapy.spidermiddlewares.referer.RefererMiddleware',
 'scrapy.spidermiddlewares.urllength.UrlLengthMiddleware',
 'scrapy.spidermiddlewares.depth.DepthMiddleware']
2023-03-31 16:29:28 [scrapy.middleware] INFO: Enabled item pipelines:
[]
2023-03-31 16:29:28 [scrapy.core.engine] INFO: Spider opened
2023-03-31 16:29:28 [scrapy.extensions.logstats] INFO: Crawled 0 pages (at 0 pages/min), scraped 0 items (at 0 items/min)
2023-03-31 16:29:28 [scrapy.extensions.telnet] INFO: Telnet console listening on 127.0.0.1:6030
2023-03-31 16:29:29 [scrapy.core.engine] DEBUG: Crawled (200) <GET https://www.coingecko.com/en/crypto-gainers-losers> (referer: None)
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'GOLCOIN', 'price': '$2.96', 'change': '151.3%', 'href_id': 'golcoin'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'MANGOMAN INTELLIGENT', 'price': '$0.000000558156', 'change': '97.6%', 'href_id': 'mangoman-intelligent'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Metars Genesis', 'price': '$1.82', 'change': '40.5%', 'href_id': 'metars-genesis'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'SXP', 'price': '$0.636278', 'change': '36.0%', 'href_id': 'sxp'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Nexa', 'price': '$0.000022782676', 'change': '34.0%', 'href_id': 'nexa'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': '0x', 'price': '$0.300441', 'change': '29.4%', 'href_id': '0x'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'UwU Lend', 'price': '$13.27', 'change': '25.7%', 'href_id': 'uwu-lend'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'DSLA Protocol', 'price': '$0.002571010804', 'change': '22.6%', 'href_id': 'dsla-protocol'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Zano', 'price': '$1.02', 'change': '22.3%', 'href_id': 'zano'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Gamma Strategies', 'price': '$0.365082', 'change': '22.2%', 'href_id': 'gamma-strategies'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'CANTO', 'price': '$0.296252', 'change': '20.9%', 'href_id': 'canto'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'OAX', 'price': '$0.350705', 'change': '20.3%', 'href_id': 'oax'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Presearch', 'price': '$0.102602', 'change': '19.1%', 'href_id': 'presearch'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Komodo', 'price': '$0.319916', 'change': '18.3%', 'href_id': 'komodo'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Dimitra', 'price': '$0.040263349640', 'change': '18.0%', 'href_id': 'dimitra'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Tap', 'price': '$0.007208945524', 'change': '18.0%', 'href_id': 'tap'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Sommelier', 'price': '$0.189202', 'change': '17.8%', 'href_id': 'sommelier'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Vita Inu', 'price': '$0.000000014040', 'change': '17.2%', 'href_id': 'vita-inu'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'TriasLab', 'price': '$2.91', 'change': '15.7%', 'href_id': 'trias-token'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Hedera', 'price': '$0.075415915339', 'change': '15.6%', 'href_id': 'hedera'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Blur', 'price': '$0.650813', 'change': '15.5%', 'href_id': 'blur'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Bonk', 'price': '$0.000000650158', 'change': '14.6%', 'href_id': 'bonk'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'StarLink', 'price': '$0.000002693704', 'change': '14.4%', 'href_id': 'starlink'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'LooksRare', 'price': '$0.154931', 'change': '14.3%', 'href_id': 'looksrare'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Findora', 'price': '$0.003013723409', 'change': '13.9%', 'href_id': 'findora'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Coin98', 'price': '$0.295700', 'change': '13.6%', 'href_id': 'coin98'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Kaspa', 'price': '$0.032753911755', 'change': '13.4%', 'href_id': 'kaspa'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'X2Y2', 'price': '$0.065478486144', 'change': '13.0%', 'href_id': 'x2y2'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Velodrome Finance', 'price': '$0.139991', 'change': '12.9%', 'href_id': 'velodrome-finance'}
2023-03-31 16:29:29 [scrapy.core.scraper] DEBUG: Scraped from <200 https://www.coingecko.com/en/crypto-gainers-losers>
{'name': 'Spell', 'price': '$0.000806282753', 'change': '12.8%', 'href_id': 'spell-token'}
2023-03-31 16:29:29 [scrapy.core.engine] INFO: Closing spider (finished)
2023-03-31 16:29:29 [scrapy.extensions.feedexport] INFO: Stored json feed (30 items) in: gainers.json
2023-03-31 16:29:29 [scrapy.statscollectors] INFO: Dumping Scrapy stats:
{'downloader/request_bytes': 241,
 'downloader/request_count': 1,
 'downloader/request_method_count/GET': 1,
 'downloader/response_bytes': 103514,
 'downloader/response_count': 1,
 'downloader/response_status_count/200': 1,
 'elapsed_time_seconds': 1.15458,
 'feedexport/success_count/FileFeedStorage': 1,
 'finish_reason': 'finished',
 'finish_time': datetime.datetime(2023, 3, 31, 23, 29, 29, 352116),
 'httpcompression/response_bytes': 586325,
 'httpcompression/response_count': 1,
 'item_scraped_count': 30,
 'log_count/DEBUG': 32,
 'log_count/INFO': 11,
 'log_count/WARNING': 1,
 'memusage/max': 67485696,
 'memusage/startup': 67485696,
 'response_received_count': 1,
 'scheduler/dequeued': 1,
 'scheduler/dequeued/memory': 1,
 'scheduler/enqueued': 1,
 'scheduler/enqueued/memory': 1,
 'start_time': datetime.datetime(2023, 3, 31, 23, 29, 28, 197536)}
2023-03-31 16:29:29 [scrapy.core.engine] INFO: Spider closed (finished)
2023-03-31 16:29:29,445 - INFO - Scraping complete.
2023-03-31 16:29:30,342 - INFO - Scraping 5 coins that are missing symbols.
2023-03-31 16:29:33,969 - INFO - Scraped https://www.coingecko.com/en/coins/sxp
2023-03-31 16:29:38,336 - INFO - Scraped https://www.coingecko.com/en/coins/nexa
2023-03-31 16:29:42,308 - INFO - Scraped https://www.coingecko.com/en/coins/dsla-protocol
2023-03-31 16:29:45,935 - INFO - Scraped https://www.coingecko.com/en/coins/oax
2023-03-31 16:29:49,548 - INFO - Scraped https://www.coingecko.com/en/coins/hedera
2023-03-31 16:29:49,564 - INFO - Number of coins with ethereum contract addresses: 20
2023-03-31 16:29:49,565 - INFO - Done scraping contract addresses!

In [32]:
import pandas as pd

with open('gainers.csv') as f:
    df = pd.read_csv(f)

token_contracts = [f"'{contract}'" for contract in df['contract_address']]
token_contracts_string = f"({','.join(token_contracts)})"

In [33]:
token_contracts_string

"('0x095797fd4297fb79883cc912a5ba6313b15c445d','0xe41d2489571d322189246dafa5ebde1f4699f498','0x55c08ca52497e2f1534b59e2917bf524d4765257','0xdb85f6685950e285b1e611037bebe5b34e2b7d78','0x6bea7cfef803d1e3d5f7c0103f7ded065644e197','0xec213f83defb583af3a000b1c0ada660b1902a0f','0x51cb253744189f11241becb29bedd3f1b5384fdb','0x6368e1e18c4c419ddfc608a0bed1ccb87b9250fc','0xa670d7237398238de01267472c6f13e5b8010fd1','0xafcdd4f666c84fed1d8bd825aa762e3714f652c9','0x3a856d4effa670c54585a5d523e96513e148e95d','0x5283d291dbcf85356a21ba090e6db59121208b44','0x8e6cd950ad6ba651f6dd608dc70e5886b1aa6b24','0xf4d2888d29d722226fafa5d9b24f9164c092421e','0xae12c5930881c53715b369cec7606b70d8eb229f','0x1e4ede388cbc9f4b5c79681b7f94d36a11abebc9','0x090185f2135308bad17527004364ebcc2d37e5f6','0x8ce9137d39326ad0cd6491fb5cc0cba0e089b6a9','0x3affcca64c2a6f4e3b6bd9c64cd2c969efd1ecbe','0x701c244b988a513c945973defa05de933b23fe1d')"

In [13]:
import os

# Load environment variables from .env file
from dotenv import load_dotenv
load_dotenv() 
KEY_PATH = os.getenv("GOOGLE_APPLICATION_CREDENTIALS")
PROJECT_ID = os.getenv("PROJECT_ID")

from google.cloud import bigquery
from google.oauth2 import service_account


# Authenticate to BigQuery
credentials = service_account.Credentials.from_service_account_file(
    KEY_PATH, scopes=["https://www.googleapis.com/auth/cloud-platform"],
)
client = bigquery.Client(credentials=credentials, project=credentials.project_id,)

dry_run_config = bigquery.QueryJobConfig(dry_run=True, use_query_cache=False)
wet_run_config = bigquery.QueryJobConfig(use_query_cache=False)

# Query the last 7 days of token transfers
query = f"""
SELECT DISTCINCT tt.from_address
FROM `bigquery-public-data.crypto_ethereum.token_transfers` tt
WHERE tt.block_timestamp > TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 7 DAY) 
AND tt.block_timestamp < TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 1 DAY) 
AND tt.token_address IN {token_contracts_string}
LIMIT 10 
"""

logger.info("Running SQL query on Google Big Cloud.")
dry_query = client.query(query, job_config=dry_run_config)

# Check how much data will be processed
mb_processed = dry_query.total_bytes_processed / (1024 * 1024)
# Throw error if over 1024 MB
if mb_processed > 1024:
    logger.error(f"Query will process {mb_processed:.2f} MB.")
    raise Exception(f"Query will process {mb_processed:.2f} MB.")

logger.info(f"Query will process {mb_processed:.0f} MB.")


wet_query = client.query(query, job_config=wet_run_config)
df = wet_query.to_dataframe()

2023-03-31 16:32:07,574 - INFO - Running SQL query on Google Big Cloud.
2023-03-31 16:32:10,403 - INFO - Query will process 332 MB.

In [14]:
df

,token_address,from_address,to_address,value,transaction_hash,log_index,block_timestamp,block_number,block_hash
0,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0x1111111254eeb25477b68fb85ed929f73a960582,0xc37ecc839ba67a46847dc367252b057f8feae680,495625000000000000,0x4708c3ac79b2e728677fffa664a098fcfb5c3119005d...,61,2023-03-31 22:32:23+00:00,16950171,0x46e91b2e94c8034db439f43cf2b6e6553b22735b1b46...
1,0x429881672b9ae42b8eba0e26cd9c73711b891ca5,0xda481b277dce305b97f4091bd66595d57cf31634,0xa01f81a76e11a00f130c7eca21cfd1c4edc5d84a,111112447622811259261,0xdb7961fcde2f6b92c5a8b96f49f5f85f29eb7600fd0d...,170,2023-03-31 22:32:23+00:00,16950171,0x46e91b2e94c8034db439f43cf2b6e6553b22735b1b46...
2,0x2bd938cf96430b7b0879f76b010b589aeec2127c,0x0000000000000000000000000000000000000000,0xad4db3604a2d5867a5c9b9a62908e94ad5d16871,107761,0xe7953187b5a99251c69a7aafa07aebd5b18cbc54209b...,229,2023-03-31 22:32:23+00:00,16950171,0x46e91b2e94c8034db439f43cf2b6e6553b22735b1b46...
3,0xdac17f958d2ee523a2206206994597c13d831ec7,0x68a1e07ac7850c3f10c00bf443a1bad6835b4b47,0xcf03463419f34eb34d9c74b51adc7b95060deaef,61373509,0xb3d62e910b32dff4df53772a298845e7506d268599ac...,134,2023-03-31 22:32:23+00:00,16950171,0x46e91b2e94c8034db439f43cf2b6e6553b22735b1b46...
4,0x9665b00ce87cc5a51869095c38b2c77313a18a3b,0x4aa087a88dc3fa72b17edb1f9b284f21e369afad,0x07c42831b30c68824f261c61074ac13f8aa885d3,12,0x64063c839f2043731247990d07b2989eee4462206e36...,104,2023-03-31 22:32:23+00:00,16950171,0x46e91b2e94c8034db439f43cf2b6e6553b22735b1b46...
5,0xe22910d04bdc9d55570f3bc52e786b49dddf37b4,0x74de5d4fcbf63e00296fd95d33236b9794016631,0x72977908f6101e84c813634ff6d796e488570896,687649363975849972452,0x4708c3ac79b2e728677fffa664a098fcfb5c3119005d...,66,2023-03-31 22:32:23+00:00,16950171,0x46e91b2e94c8034db439f43cf2b6e6553b22735b1b46...
6,0x22c83c0e004c70b22a41e2655574764e1871e9af,0x68ca247510221ce94c0096229da8031e7b2b7ee1,0x6cdbef8caaee41b69386ae78d9f8e729e652017b,141,0x2a9a1d7e24c0f3506f3acf8e4379c40052773a6b432d...,184,2023-03-31 22:32:23+00:00,16950171,0x46e91b2e94c8034db439f43cf2b6e6553b22735b1b46...
7,0x2bd938cf96430b7b0879f76b010b589aeec2127c,0x0000000000000000000000000000000000000000,0xad4db3604a2d5867a5c9b9a62908e94ad5d16871,107759,0xe7953187b5a99251c69a7aafa07aebd5b18cbc54209b...,227,2023-03-31 22:32:23+00:00,16950171,0x46e91b2e94c8034db439f43cf2b6e6553b22735b1b46...
8,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0xc37ecc839ba67a46847dc367252b057f8feae680,0x6b75d8af000000e20b7a7ddf000ba900b4009a80,301119584011478656,0xe10e1eb3f4322f4bf1485de1a066c943cebb0fc0537e...,69,2023-03-31 22:32:23+00:00,16950171,0x46e91b2e94c8034db439f43cf2b6e6553b22735b1b46...
9,0x565a21cd4471287e25f2b85d14d569db03b63a8f,0xc8942183b626408198be7dec512a1e68deb6319d,0x05a8aa0ed1e1bc598c23b415f67cd774b530546c,887,0x7fb0772148244db838956e5b14e84bde5a30303fbe82...,258,2023-03-31 22:32:23+00:00,16950171,0x46e91b2e94c8034db439f43cf2b6e6553b22735b1b46...

1048576

In [4]:
wet_query.to_dataframe()

           name  total_people
0         James        272793
1          John        235139
2       Michael        225320
3        Robert        220399
4         David        219028
5          Mary        209893
6       William        173092
7          Jose        157362
8   Christopher        144196
9         Maria        131056
10      Charles        126509
11       Daniel        117470
12      Richard        109888
13         Juan        109808
14     Jennifer         98696
15       Joshua         90679
16    Elizabeth         90465
17       Joseph         89097
18      Matthew         88464
19          Joe         87977